<div class="row">
  <ul>
    {% for event in events %}
    <div class="span4">
      <li class="event" id="event-{{event.id}}">
        <h2><a href="/events/{{event.id}}">{{event.title}}</a></h2>
        <p><time datetime="{{event.date}}">{{event.date|prettyDate}}</time></p>
        <p>{{event.attending.length}} attending so far.</p>
        <li style="list-style:none;"><p><a class="btn" href="/events/{{event.id}}">View details &raquo;</a></p></li>
      </li>
    </div>
    {% endfor %}
  </ul>
</div>

<!-- Load the Content Experiment JavaScript API client for the experiment -->
<script src="//www.google-analytics.com/cx/api.js?experiment=fnO0-EwST1GG6t9suRcLdA"></script>

<script>
  // Ask Google Analytics which variation to show the user.
  var chosenVariation = cxApi.chooseVariation('fnO0-EwST1GG6t9suRcLdA');
</script>

<!-- Load the JQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script>
  // Define JavaScript for each page variation of this experiment.
  var pageVariations = [
    function() {},  // Original: Do nothing. This will render the default HTML.
    function() {    // Variation 1: add RSVP text
      $( 'li.event' ).prepend( 'RSVP ' );
    }
  ];
  console.log(chosenVariation);
  // Wait for the DOM to load, then execute the view for the chosen variation.
  $(document).ready(
      // Execute the chosen view
      pageVariations[chosenVariation]
  );
</script>